*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #f3f5f9;
}


input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
}

.container .wrap{
    padding-top: 250px;
}

.container .wrap button{
    background-color: #4a5851;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container .wrap button a{
    color: #bdb8d7;
    display: block;
}
.wrapper{
    display: flex;
    position: relative;
}

.sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4a5851;
    padding: 30px 0;
}

.sidebar ul li{
    padding: 15px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225,225,0.05);
}

.sidebar ul li a{
    color: #bdb8d7;
    display: block;
}

.sidebar ul li:hover{
    background: #594f8d;
}

.sidebar ul li:hover a{
    color: #fff;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}
.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}
.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.main_content .dash-container{
    height: 271px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.wrapper .main_content .dash-btn-container{
    height: 528px;
    color: #717171;
    line-height: 25px;
}
.wrapper .dash-btn-container{
    box-sizing: border-box;
    
}
.dash-btn-container .box-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 55px;
}
.dash-btn-container .box-wrapper .wrapper{
    display: flex;
    justify-content: center;
    padding: 95px;
    background: #fff;
    margin: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 3px 1px #888888;
}
.dash-btn-container .box-wrapper .wrapper a{
    color:black;
    font-size: 23px;
}
.wrapper .data .myTable{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

.wrapper .data .myTable tr{
    border-bottom: 1px solid #ddd;
}

.wrapper .data .myTable th, .wrapper .data .myTable td{
    text-align: left;
    padding: 12px;
}
.wrapper .main_content .info{
    padding: 217px;
    padding-top: 74px;
}

.wrapper .main_content .info .name{
    display: flex;
    
}

.wrapper .main_content .info input[type=submit] {
    position: relative;
    left: 50%;
    padding: 10px;
    font-size: 25px;
}

.sum-wrapper{
    height: 100%;
    margin: 0;
}

.sum-wrapper .main_content .header{
    padding: 20px;
    padding-left: 220px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.summary{
    padding-left: 200px;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
